.registrationForm{    
    border: 3.2px solid #ececec;
    max-width: 400px;
    margin:0 auto;
    border-radius: 8px;
}

.form-row{
    margin-bottom: 10px;
}

.label{
    margin-bottom: 0.25rem;
}

.custom-control-label{
    line-height: 1.25;
}

.permission{
    line-height: 1.25;
}

.react-datepicker-wrapper{
    width: 100%;
}

.radioLabel{
    margin: 0;
    margin-left: 5px;
}

.listgroup{
    max-width: 200px;
    margin-left: 17px;
}

.list-group-item{
    padding: .5rem .5rem !important
}  